<?xml version='1.0' encoding='UTF-8'?>
            <launch>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin0'/>
        <arg name='x' value='20' />
        <arg name='y' value='3' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.6521575455946435' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin1'/>
        <arg name='x' value='10' />
        <arg name='y' value='6' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.5441342162462637' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin2'/>
        <arg name='x' value='8' />
        <arg name='y' value='13' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.7492186841051587' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin3'/>
        <arg name='x' value='22' />
        <arg name='y' value='7' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='3.0166190590750412' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin4'/>
        <arg name='x' value='7' />
        <arg name='y' value='12' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.9769924060053347' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin5'/>
        <arg name='x' value='11' />
        <arg name='y' value='9' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.1396059899261372' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin6'/>
        <arg name='x' value='16' />
        <arg name='y' value='5' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.6502597616697317' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin7'/>
        <arg name='x' value='23' />
        <arg name='y' value='6' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.77717120760533' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin8'/>
        <arg name='x' value='17' />
        <arg name='y' value='4' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.6837763723443735' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin9'/>
        <arg name='x' value='18' />
        <arg name='y' value='2' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.9223663573745735' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin10'/>
        <arg name='x' value='22' />
        <arg name='y' value='10' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.6732912834194689' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin11'/>
        <arg name='x' value='16' />
        <arg name='y' value='4' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.827501060185405' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin12'/>
        <arg name='x' value='10' />
        <arg name='y' value='13' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.1768683457864566' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin13'/>
        <arg name='x' value='10' />
        <arg name='y' value='9' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.680302881593223' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin14'/>
        <arg name='x' value='20' />
        <arg name='y' value='13' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.760305419223008' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin15'/>
        <arg name='x' value='11' />
        <arg name='y' value='13' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.789112167754784' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin16'/>
        <arg name='x' value='22' />
        <arg name='y' value='10' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.0275005627444855' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin17'/>
        <arg name='x' value='13' />
        <arg name='y' value='6' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.9293961022405273' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin18'/>
        <arg name='x' value='18' />
        <arg name='y' value='6' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.8173548178107517' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin19'/>
        <arg name='x' value='11.353295726585925' />
        <arg name='y' value='-22.395445849852216' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.8171913667991775' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin20'/>
        <arg name='x' value='11.142484515853845' />
        <arg name='y' value='-24.053365577923074' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.9856653324310095' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin21'/>
        <arg name='x' value='12.230355030493739' />
        <arg name='y' value='-24.658896639634246' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.7875190618551156' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin22'/>
        <arg name='x' value='12.563445928584889' />
        <arg name='y' value='-22.898615185260734' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.7691879962778971' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin23'/>
        <arg name='x' value='11.26617572151233' />
        <arg name='y' value='-25.102601082333166' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.6904726149086303' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin24'/>
        <arg name='x' value='11.081161576558241' />
        <arg name='y' value='-25.54359674141735' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.4109532669380564' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin25'/>
        <arg name='x' value='10.838135925386025' />
        <arg name='y' value='-22.383086417935907' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.713747719690331' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin26'/>
        <arg name='x' value='10.693216710864643' />
        <arg name='y' value='-22.844248029353647' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.2284190523658953' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin27'/>
        <arg name='x' value='0.7722415073653832' />
        <arg name='y' value='13.963581160068504' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.5831827881386635' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin28'/>
        <arg name='x' value='0.6933625589562299' />
        <arg name='y' value='18.85938228782108' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.9837762452387357' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin29'/>
        <arg name='x' value='3.512938210548589' />
        <arg name='y' value='18.682568566549886' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.7688595048635576' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin30'/>
        <arg name='x' value='2.4407123785209426' />
        <arg name='y' value='18.551604043475866' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.7314710828559394' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin31'/>
        <arg name='x' value='-0.6515943238356794' />
        <arg name='y' value='19.37264406925151' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='3.1226745854120663' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin32'/>
        <arg name='x' value='0.5321266742900556' />
        <arg name='y' value='17.552935508842438' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.7285633519842862' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin33'/>
        <arg name='x' value='0.20354811801890485' />
        <arg name='y' value='18.142780191232948' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.4925634322260211' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin34'/>
        <arg name='x' value='-2.2337189323696514' />
        <arg name='y' value='21.062295531765027' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.5256405882580705' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin35'/>
        <arg name='x' value='2.235576612961346' />
        <arg name='y' value='16.717891632262646' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.16836775138640753' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin36'/>
        <arg name='x' value='-1.7563581529432617' />
        <arg name='y' value='19.70792766189561' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.18425907799108523' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin37'/>
        <arg name='x' value='-0.6936693103073109' />
        <arg name='y' value='19.36093923077959' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.2406674615636257' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin38'/>
        <arg name='x' value='2.7157088118693986' />
        <arg name='y' value='18.45745940031507' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.3351268733985706' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin39'/>
        <arg name='x' value='0.8686394348939325' />
        <arg name='y' value='15.712015955253811' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.8240493735064223' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin40'/>
        <arg name='x' value='1.4022145250100204' />
        <arg name='y' value='15.873474325812458' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.3246638948634257' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin41'/>
        <arg name='x' value='-3.97389046672199' />
        <arg name='y' value='20.114800512442617' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.5304099378144802' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin42'/>
        <arg name='x' value='-1.2857213779151282' />
        <arg name='y' value='20.295512492371962' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.7077717185656341' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin43'/>
        <arg name='x' value='-2.153302186005086' />
        <arg name='y' value='19.299534954356407' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.888870110594927' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin44'/>
        <arg name='x' value='0.3017165485374464' />
        <arg name='y' value='15.856834340647108' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.1539100812394263' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin45'/>
        <arg name='x' value='-0.9746233044008968' />
        <arg name='y' value='19.64652643718617' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.5258746498992151' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin46'/>
        <arg name='x' value='0.31193762138628817' />
        <arg name='y' value='18.427224992883954' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='3.040688946129085' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin47'/>
        <arg name='x' value='0.9164388721690488' />
        <arg name='y' value='16.49337986589515' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.684668829732174' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin48'/>
        <arg name='x' value='0.635244586983933' />
        <arg name='y' value='14.315665853109204' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.924626471080953' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin49'/>
        <arg name='x' value='-5.195630444616763' />
        <arg name='y' value='19.63830259575915' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.429676669629098' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin50'/>
        <arg name='x' value='40' />
        <arg name='y' value='11' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.215878334396795' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin51'/>
        <arg name='x' value='23' />
        <arg name='y' value='13' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='3.105866045845092' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin52'/>
        <arg name='x' value='38' />
        <arg name='y' value='10' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.9651811844680799' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin53'/>
        <arg name='x' value='41' />
        <arg name='y' value='10' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.29910156988867875' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin54'/>
        <arg name='x' value='19' />
        <arg name='y' value='7' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.5137514499685136' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin55'/>
        <arg name='x' value='28' />
        <arg name='y' value='11' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.8383518363193527' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin56'/>
        <arg name='x' value='27' />
        <arg name='y' value='12' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.2963039714164621' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin57'/>
        <arg name='x' value='37' />
        <arg name='y' value='2' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.226440982279495' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin58'/>
        <arg name='x' value='34' />
        <arg name='y' value='7' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.3784198190594878' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin59'/>
        <arg name='x' value='27' />
        <arg name='y' value='3' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.3060357341322921' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin60'/>
        <arg name='x' value='34' />
        <arg name='y' value='9' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.4306272741708854' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin61'/>
        <arg name='x' value='35' />
        <arg name='y' value='12' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.5544592340356462' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin62'/>
        <arg name='x' value='32' />
        <arg name='y' value='12' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.7266701528423454' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin63'/>
        <arg name='x' value='43' />
        <arg name='y' value='5' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.807044523168024' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin64'/>
        <arg name='x' value='20' />
        <arg name='y' value='1' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.39540831694610157' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin65'/>
        <arg name='x' value='42' />
        <arg name='y' value='5' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.837857567280141' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin66'/>
        <arg name='x' value='21' />
        <arg name='y' value='2' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.528690361742264' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin67'/>
        <arg name='x' value='34' />
        <arg name='y' value='1' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.1697735184313556' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin68'/>
        <arg name='x' value='-2' />
        <arg name='y' value='-31' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.3928313926083415' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin69'/>
        <arg name='x' value='-3' />
        <arg name='y' value='-33' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='3.088787754872074' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin70'/>
        <arg name='x' value='1' />
        <arg name='y' value='-40' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='3.016203679385854' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin71'/>
        <arg name='x' value='1' />
        <arg name='y' value='-30' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.401092308285067' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin72'/>
        <arg name='x' value='-1' />
        <arg name='y' value='-31' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.1046008415284863' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin73'/>
        <arg name='x' value='1' />
        <arg name='y' value='-35' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.818100434727482' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin74'/>
        <arg name='x' value='-3' />
        <arg name='y' value='-40' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.8968713480673967' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin75'/>
        <arg name='x' value='-1' />
        <arg name='y' value='-27' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.7225769779793874' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin76'/>
        <arg name='x' value='0' />
        <arg name='y' value='-36' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.6255595582677125' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin77'/>
        <arg name='x' value='-4' />
        <arg name='y' value='-30' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.2761728953279787' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin78'/>
        <arg name='x' value='-1' />
        <arg name='y' value='-34' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.8060640694219734' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/beer_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin79'/>
        <arg name='x' value='-2' />
        <arg name='y' value='-30' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.6068650418174406' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin80'/>
        <arg name='x' value='-1' />
        <arg name='y' value='-35' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.0407521423354014' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/square_bottle/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin81'/>
        <arg name='x' value='-2' />
        <arg name='y' value='-40' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='1.6104686221648385' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/garbage_bag/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin82'/>
        <arg name='x' value='-4' />
        <arg name='y' value='-37' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.9767922599282346' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/water_bottle/model.sdf' />
    </include>
 </launch>