<?xml version='1.0' encoding='UTF-8'?>
            <launch>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin0'/>
        <arg name='x' value='20' />
        <arg name='y' value='3' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.6521575455946435' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/detris1/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin1'/>
        <arg name='x' value='10' />
        <arg name='y' value='6' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='2.5441342162462637' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/detris2/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin2'/>
        <arg name='x' value='8' />
        <arg name='y' value='13' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.7492186841051587' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/detris3/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin3'/>
        <arg name='x' value='22' />
        <arg name='y' value='7' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='3.0166190590750412' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/detris4/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin4'/>
        <arg name='x' value='7' />
        <arg name='y' value='12' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.9769924060053347' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/detris5/model.sdf' />
    </include>
<include file='$(find offshore_uav_pack)/launch/spawn_sdf.launch'>
        <arg name='robot_name' value='trashin5'/>
        <arg name='x' value='11' />
        <arg name='y' value='9' />
        <arg name='z' value='2' />
        <arg name='roll' value='0'/>
        <arg name='pitch' value='0'/>
        <arg name='yaw' value='0.1396059899261372' />
        <arg name='sdf_robot_file' value='$(find asv_wave_sim_gazebo)/models/detris6/model.sdf' />
    </include>
</launch>
